name: CI

on:
  push:
    branches:
      - labels
  pull_request:labels

permissions:
  checks: write
  pull-requests: write

jobs:
  contracts:
    name: Contracts
    uses: multiversx/mx-sc-actions/.github/workflows/contracts.yml@f4db3dce60381ac2ed9504a22dcd1b796850345f
    with:
      rust-toolchain: 1.86
      enable-contracts-size-report: true
      enable-interactor-tests: true
    secrets:
      token: ${{ secrets.GITHUB_TOKEN }}
